/* BODY */

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #444;
  background-color: #eee; 
  margin: 0;
  padding: 0;
  padding-bottom: 20px; }
p {
  text-indent: 1em; }
a {
  text-decoration:none;
  color: black; }
textarea {
  width: 100%;
  height: 300px; }
input {
  display:inline;
}

/* TITLE BAR */

.titleBar {
  background: black;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #AAA;
}

.titleBar h1 {
  position: relative;
  top: -5px;
  padding: 0;
  margin: 0;
  padding-left: 300px;
  width: 680px;
  font-size: 40px  
}


/* CONTENT */

.content {
  position: relative;
  width: 600px;
  left: 300px;
  padding: 40px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: justify;
  background: white;
  box-shadow: 0 0 8px #D0D0D0;
  border-radius: 5px;
}

.content h2 {
  padding: 10px;
  background: #DDD;
}

.content a {
  font-weight: bold;
}


/* NAV */

.nav {
  position: absolute;
  margin: 20px;
  padding: 0;
  width: 200px;
  background: #ccc;
  box-shadow: 0 0 8px #D0D0D0;
}
.nav ul {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  list-style-type: none;
}
.navPage, .navSection {
  position:relative;
  margin: 5px;
  padding: 3px;
}

.navPage {
  background: white;
  border-right: 20px solid #444;
  box-shadow: 0 0 8px #AAA;
}

.navSection {
  font-size: large;
  font-weight: bold;
  border-right: 20px solid #CCC;
}

.navPage li, .navSection li {
  position:relative;
  display:inline;
}

#navCurrent {
  border-right: 20px solid orange;
}

.navPrivate {
  position:absolute;
  right:-22px;
  display:inline;
  width:20px;
  height: 20px;
  z-index: 10;
}

.private img {
  display:inline;
}

.editButtons p, .editButtons a {
  color: #444;
  text-indent: none;
  font-size: small;
  margin: 0;
  padding: 0;
}

/* EDIT */

.edit {
  position: relative;
  width: 640px;
  left: 300px;
  top: 8px;
  padding: 10px;
  text-align: justify;
  background: #eee;
}

.edit h2 {
  margin: 0;
  margin-bottom: 10px;
}

.alert {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: small;
  text-decoration: none;
  background: white;
  padding: 3px;
  border: 2px solid black;
  border-left: 15px solid black;
}

/* EDIT SITE */

.siteEdActions {
  position: relative;
  width: 400px;
  -webkit-box-shadow: 0 0 8px #DDD;
}

.siteEdActions ul {
  list-style-type: none;
  background: #ccc;
  padding: 5px;
}

.siteEdActions li {
  background: white;
  margin: 5px;
  padding: 3px;
  border-left: 15px solid #444;
}

.siteEdActions h3 {
  margin: 0;
  padding-left: 5px;
}

.arrow {
  font-size: xx-large;
  font-weight: bold;
  font-family: monospace;
}

.stopEdit {
  text-decoration: none;
  background: white;
  width: 200px;
  margin: 5px;
  padding: 3px;
  border: 1px solid #444;
  border-left: 15px solid #444;
}

.stopEdit {
  margin-left: 5px;
}

.sitesettings {
  text-indent: 0;
  background: #ccc;
  padding: 5px;
  width: 400px;
}

.sitesettings ul {
  list-style-type: none;
  margin: 3px;
  padding: 0px;
}

.sitesettings li {
  background: white;
  margin: 5px;
  padding: 3px;
  border-left: 15px solid #444;
  -webkit-box-shadow: 0 0 8px #AAA;
}

.newtitlesnote {
  text-indent: 2em;
  font-size: small;
  color: #777;
  margin-top: -10px;
}